body{
	padding:0px;
	margin:0px;
	color:#333;
	font-size:14px !important;
	background:#f6f6f6 !important;
	font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}
.clearfix{
	clear:both;
}
html,body{	
	height:100%;
}
.wrap{
	min-height:100%;
	height:auto;
	margin:0px auto -50px;
}
.push{
	min-height:50px;
	height:auto;
}
.blankspace{
	height:50px;
}
.footer{
	min-height:50px;
	width:100%;
	height:auto;
	background:#2b2b2b;
	padding: 10px 0px 10px;
}
.container1{
	width:85% !important;
	margin:0px auto !important;
}

.header{
	padding:0px;
	height:auto;
	background-image:url('../images/headerbgimg.png');
	width:100%;
	min-height:50px;
	background-repeat: repeat-x;
}
.menuIcon{float:right;width:4%;padding-top:1%;cursor:pointer;display:none;}
.headermenulist{
	margin:0px;
	padding:17px 0px 10px;
}
.headermenulist li{display:inline;padding-right:20px;}
.headermenulist li{color:#ffc503;color:#fff;}
.headermenulist li a{text-decoration:none;color:#fff;letter-spacing:1px;font-size:14px;}
.headermenulist li a:hover{text-decoration:underline;}
.active_menu{
	padding:17px;
	height:auto;
	background-image:url('../images/active_menu_bg.png');
	width:100%;
	background-repeat: repeat-x;
}
.remove_default_padding{
	padding-left:0px !important;
	padding-right:0px !important;
}
.logo_section{
    float: left;
    padding: 6px 0px 6px;
    width: 12%;
}
.sginup_box{
	width:30%;
	float:right;
	text-align:right;
	padding	:15px 0px;
}
.sginup_box p{margin:0px;}
.sginup_box p a{
	font-size:14px;
	text-decoration:none;
	color:#d81b22;
}
.booking_history{
	margin: 32px 0px 20;
	text-decoration:none;
    color: #000;
}
.booking_history:hover{
	text-decoration:underline;
    color: #000;
}
.headermenu{	
	float:left;	
	width:83%;	
}
.header_top{
	height:auto;
	background:#fff;
}
.signupbtn{
	background-color: transparent;
    border: 1px solid #440c7d;
    padding: 12px;
    margin: 17px 0px 10px;
	color:#d81b22;
}
.btn1{
	background:#d81f25;
	color:#fff;
	padding:12px 30px;
	outline:none;
	border:none;
}

.footer_menu{
	width:100%;
	height:auto;
}

.remove_border{
	border:none;
	background:transparent;
	min-height:auto;
}

.footer_text{	
	width:100%;
}	
.footer_text p{
	text-align:center;
	font-size:12px;
	color:#999;
}
.login_row{
	width:100%;
	margin-bottom:20px;
	height:auto;
}
.login_row input[type="text"],.login_row input[type="password"]{
	width:100%;
	outline:none;
	border:1px solid #e2e2e2;
	padding:10px;
}
.btn2{
	border-radius: 0px !important;
	background:#57a04e;
	color:#fff;
}
.upload_btn{
	background:#3cb0e1 !important;
}
.upload_btn:hover,.btn2:hover{color:#fff !important}
.blankspace1{
	height:30px;
}
.signuplink a{
	font-size:20px;
	text-decoration:none;
	color:#d81b22
}
.signuplink a:hover,.eventownertext a:hover{
	text-decoration:none;
	color:#d81b22
}
.event_heading{
	margin:0px 0px 30px 0px;
	font-size:22px;
	color:#d81b22;
}
.eventCreated{
	margin:30px 0px 10px 0px;
	width:100%;
}
.event_row{
	width:100%;
	background:#fff;
	padding:10px;
	margin-bottom:15px;
}
.event_pic{
	width:10%;
	float:left;
	margin-right:1%;
}
.event_pic_detail{
	width:89%;
	float:right;
}
.event_pic_detail table{
	font-size:14px !important;
	margin-bottom:0px !important;
}
.event_pic img{
	height:95px;
}
.createEvent_section{
	width:75%;
	margin:10px 0px;
}
.form_row{
	width:100%;
	height:auto;
	margin-bottom:30px;
}
.column1{
	width:49%;
	margin-right:1%;
	float:left;
}
.column1 img,.column2 img{padding:6px 0px;margin-right:5px;}
.column2{
	width:49%;
	margin-left:1%;
	float:left;
	position:relative;
}
.imgdiv{
	width:30% !important;
}
.filecontainer{
	/*background-image:url('../images/browsebtn.png');
	background-repeat:no-rapeat;*/
}
.filecontainer input[type="file"]{
	/*opacity:0;*/
	
}
.form_row h1{
	font-size:15px;
	margin:0px 0px 10px;
	font-weight:bold;
}
.form_row select,.form_row input[type="text"],.form_row input[type="password"]{
	width:100%;
	outline:none;	
	padding:7px;
	border:1px solid #e2e2e2;
	background-color: transparent;
	font-size:12px;
}
.form_row textarea{
	width:100%;
	padding:5px;
	border:1px solid #e2e2e2;
	resize:vertical;
	background-color: transparent;
	outline:none;
	height:110px;
}
.tickedid {
	width:80%;
	margin:15px 0px;
	background:#fff;
	padding:10px;
	min-height:110px;	
}

.address{
	height: 36px !important;
}
.eventlocation{
    width: 31%;
    float: left;
    margin-right: 8px;
}
.date{
	background-image:url('../images/calender.png');
    background-repeat: no-repeat;
    background-position: 6px;
	padding-left: 25px !important;
}
.time{
	background-image:url('../images/time_icon.png');
    background-repeat: no-repeat;
    background-position: 6px;
	padding: 7px 5px 7px 25px !important;
	font-size:14px !important;
	margin-left:0px !important;

}
.hashtag{
	width:95% !important;
}
.social_links{
	width:92% !important;
}
.date_time{
	width:48%;
	margin-right:5px;
}
.available_ticket{
	background:#fff;
	width:50%;
	padding:10px;
}
.admin_login{
    width: 45%;
    margin: 60px auto;
    background-color: #fff;
    padding: 40px;
}
.admin_login>h1{
	margin:0px 0px 15px 0px;
	font-size:25px;
}
.admin_login>p{
	font-size:16px;
}
.bredcrum{
	margin:15px 0px;
}
.bredcrum ul{
	padding-left:0px;
	list-style:none;
}
.bredcrum ul li{
	display:inline;
	color:#000;
	margin-right:5px;
	font-size:12px;
}
.bredcrum ul li a{
	font-size:13px; color:#000;
	text-decoration:none;
}
.content_section{
	width:100%;
	height:auto;
}
.main_heading{
	font-size:20px;
	color:#d81b22;
	margin:0px;
	width:60%;
	float:left;
}
.table_section{
	width:100%;
	margin:25px 0px 45px;	
}
.table_header_div{
	width:100%;
	font-size:18px;
	background:#d81b22;
	color:#fff;
	padding:10px;
}
.table{background:#fff !important;font-size:14px !important;border:1px solid #e2e2e2}
.table tr th {color:#000 !important}
.indexing ul{
	padding-left:0px;
	background:#fff;	
	border:1px solid #e2e2e2;
	border-radius:4px;
}
.indexing ul li{
	display:block;
	float:left;
	border-right:1px solid #e2e2e2;
	padding: 10px;
}
.indexing ul li a{	
	color:#000;
	font-size:12px;	
}
.current_index{	
	background:#616161;
}
.current_page{
	color:#d81b22 !important;
}
.current_page a{
	color:#d81b22 !important;
}
.current_index a{color:#fff !important;}
.user_details{
	width:80%;	
	border:1px solid #dfdfdf;
	margin:30px 0px;
}
.user_details h1{	
	font-size:16px;
	font-weight:bold;
	margin:0px 0px 10px;
	padding:10px;
	border-bottom:1px solid #dfdfdf;
}
.user_lable{
	width:20%;
	margin-right:20px;
	float:left;
	padding:10px 25px;
	font-weight:700;
}
.event_lable{
	width:20%;
	margin-right:20px;
	float:left;
	font-weight:bold;
	line-height:28px;
}
.Category{
	width: 14% !important;
	text-align:right;
	margin:0px !important;
}
.Category_desc{
	width:85% !important;;
}
.event_details{
	width:75%;
	line-height:28px;
	float:right;
	word-break: break-word;
}
.event_details textarea{
	width:100%;
	resize:vertical;
	min-height:110px;
	outline:none;
	padding:5px 10px;
	border:1px solid #dfdfdf;
}
.lable_details{
	width:75%;
	padding:10px;
	float:right;
}
.action_icon{
	float:left;
	margin-right:20px;
}
.action_td
{
	width:16% !important;
}
.evnu_td{
	width:20% !important
}
.order_id{
	margin-right:15px;
}
.row{
	margin:10px 0px 0px !important;
}
.event_details_div{
	padding:0px 10px 10px;
	border:1px solid #dfdfdf;
}
.img_priview{
	width:250px;
	height:150px;
}
.event_name{
	padding:1px 0px 0px 10px!important;
	width:35% !important;
}
.event_box{
    width: 174px;
    float: left;
    border: 1px solid #e2e2e2;
    margin-right: 4px;
    background-color: #fff;
    margin-bottom: 10px;
    height: 110px;
    overflow: hidden;
}
.detailpackage{
	width:75%;
	margin:20px 0px;
}
.event_details ul{
	padding-left:18px;
}
.category_img_lis{
	width:60px;
	height:30px;
}
.img_priview{
	margin-bottom:10px;
}
#window-resizer-tooltip{
	display:none !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	    word-break: break-word !important;
}
table.dataTable thead th, table.dataTable thead td{padding:10px !important}
th{
	font-weight:600 !important;
}
.image-preview{
	float:left !important;
	height:140px !important;
	background-size:100% 100% !important;
}
.time_pick{
	width:85% !important;
}
.edit_img_pack{
	width:100px;
}
.edit_img_pack img{width:100%;}
.approve_btn{
	padding:5px;
	background:#57a04e;
	color:#fff !important;
}
.approve_btn:hover{
	color:#fff !important;
}
.dataTables_wrapper  table tr th,.dataTables_wrapper  table tr td,.table_section table tr th,.table_section table tr td{
	    word-break: break-word;
}
.table_header_div table tr th,.table_header_div table tr td,.lable_details{
	 word-break: break-word;
}

/* CSS only for Mozila browser*/
 @-moz-document url-prefix() {    
	 .event_details,.lable_details{
	 	word-break:break-all;
	 }
	 .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	    word-break: break-all !important;
	}
	.dataTables_wrapper  table tr th,.dataTables_wrapper  table tr td,.table_section table tr th,.table_section table tr td{
	    word-break: break-all;
	} 
	.table_header_div table tr th,.table_header_div table tr td,.lable_details{
		 word-break: break-word;
	}
}
.prev_img{
	    height: 203px;
    position: relative;
    overflow: hidden;
}
.prev_img img{
	height:100%;
}